<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>794524980586-oheule3vfq1b3o1d70j1fisnvs7hq8lg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.794524980586-oheule3vfq1b3o1d70j1fisnvs7hq8lg</string>
	<key>API_KEY</key>
	<string>AIzaSyB3lc9NAJHRO0RzlitWtvkau20z9QqfE60</string>
	<key>GCM_SENDER_ID</key>
	<string>794524980586</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterAuth</string>
	<key>PROJECT_ID</key>
	<string>ouun-40de1</string>
	<key>STORAGE_BUCKET</key>
	<string>ouun-40de1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:794524980586:ios:95deefc4dd54c944f0c113</string>
</dict>
</plist>